# Compiled output
/dist
/tmp
/out-tsc
/coverage

# Node
/node_modules
npm-debug.log
yarn-error.log
*.local

# Vite
/.vite
vite.config.ts.timestamp-*

# IDEs and editors
.idea/
*.iml
.project
.classpath
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
